@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

:root {

  /* color container */

  --font--: "Playfair Display", serif;
  --font2--: "EB Garamond", serif;
  --textColor: salmon;
  --textColor2: white;
  --textColor3: black;
  --spanColor: rgb(194, 187, 187);
  --borderColor: gray;
  --pColor: rgb(136, 133, 133);
   --pColor2:  rgba(132, 131, 131, 0.944);
   --teamDetail:  rgba(150, 147, 147, 0.942);
   --teamdetails-p: rgba(150, 147, 147, 0.942);
  --footerColor: rgba(14, 33, 48, 0.805);
  --teamBack:  rgb(255, 255, 255);
  --testiShadow:  rgba(0, 0, 0, 0.2);
  --teamIcons:  rgb(255, 159, 148);
  --footerBck: linear-gradient(rgba(0, 0, 0, 0.6), rgba(4, 49, 84, 0.715)),
  url("images/spa.jpg");
  --backGround:linear-gradient(rgba(0, 0, 0, 0.8), rgba(20, 24, 29, 0.47)),
  url("images/massage1.jpg");

}

.container {

  width: 100%;
  height: 700px;
  background:var(--backGround);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.nav-container {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;

}

.nav-container ul {

  display: flex;

}

.nav-container ul li {

  list-style: none;
  margin: 0px 10px;

}

.nav-container ul li a {

  color: var(--textColor2);
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  font-family: var(--font2--);
  font-optical-sizing: auto;

}

.nav-container ul li a::before {

  content: "";
  position: absolute;
  left: 30%;
  bottom: -5px;
  width: 0%;
  height: 3px;
  background-color: var(--textColor2);
  border-radius: 5px;
  transition: 0.5s;

}

.nav-container ul li a:hover::before {

  width: 50%;

}

.nav-container ul li .appointment:hover::before {

  width: 0%;

}

.nav-container ul li .appointment {

  color: var(--textColor2);
  background-color: var(--textColor);
  border-radius: 15px;
  padding: 10px;
  text-decoration: none;
  text-transform: capitalize;

}

.logo {

  color: var(--textColor2);
  font-size: 30px;

}

.logo span {

  color: var(--textColor);

}

.logo-container {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.logo-container .logo-line {

  background-color: var(--textColor);
  border-radius: 5px;
  width: 150px;
  height: 3px;
  text-align: center;
  margin: 15px 0px;

}

.header-text {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10rem;

}

.header-text h2 {

  color: var(--textColor2);
  font-size: 4.5rem;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-family: var(--font--);

}

.header-text h2 span {

  color: var(--textColor);
  border-radius: 5px;
  width: 150px;
  height: 3px;
  text-align: center;
  margin: 15px 0px;

}

.header-text p {

  color: var(--textColor2);
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 20px;

}

.header-text .fa-arrow-down {

  color: var(--textColor2);
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--textColor);
  border-radius: 50%;
  outline: none;
  text-transform: capitalize;
  padding: 20px;
  margin-top: 10rem;
  animation: motion 1.5s infinite;
  position: relative;

}

@keyframes motion {
    
  0% {
    transform: translateY(-50%);
  }
  
  100% {
    transform: translateY(0%);
  }

  
}

/* about section style */

.about-section {

  padding: 60px 90px;

}

.about-header-text {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.about-container h2 {

  color: var(--textColor);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: var(--font--);

}

.about-header-text span {

  background-color: var(--textColor);
  border-radius: 5px;
  width: 90px;
  height: 4px;
  text-align: center;
  margin: 15px 0px;

}

.about-col-container {

  width: 90%;
  padding: 40px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.left-col {

  width: 50%;

}

.left-col img {

  width: 100%;
  border-radius: 10px;

}

.right-col {

  width: 40%;
  display: flex;
  flex-direction: column;

}

.right-col p {

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: var(--font2--);
  font-optical-sizing: auto;
  line-height: 24px;

}

/* service section style */

.service-section {

  padding: 40px 90px;

}

.service-header-text {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.service-header-text h2 {

  color: var(--textColor);
  text-transform: capitalize;
  text-align: center;
  font-size: 2.5rem;
  font-family: var(--font--);

}

.service-header-text span {

  background-color: var(--textColor);
  border-radius: 5px;
  width: 90px;
  height: 4px;
  text-align: center;
  margin: 15px 0px;

}

.service-header-text p {

  color: var(--pColor);
  margin: 15px 0px;
  text-transform: capitalize;
  font-size: 18px;
  font-family: var(--font--);

}

.col-container {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 70px;
  margin-top: 40px;
  padding: 0px 70px;

}

.col {

  width: 400px;

}

.col img {

  width: 100%;
  border-radius: 10px;

}

.service-details {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.service-details h3 {

  color: var(--textColor3);
  font-size: 25px;
  text-transform: capitalize;
  margin: 10px 0px;

}

.service-details p {

  color: var(--pColor);
  margin: 15px 0px;

}

.service-details button {

  color: var(--textColor);
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: 2px solid var(--textColor);
  border-radius: 20px;
  padding: 13px 35px;
  text-transform: capitalize;

}


/* our team section style start here*/

.section-team {

  padding: 50px 90px;
  margin-bottom: 5rem;

}

.team-header-text {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.team-header-text h2 {

  color: var(--textColor);
  text-transform: capitalize;
  text-align: center;
  font-size: 2.5rem;
  font-family: var(--font--);

}

.team-header-text span {

  background-color: var(--textColor);
  border-radius: 5px;
  width: 90px;
  height: 4px;
  text-align: center;
  margin: 15px 0px;

}

.team-header-text p {

  color: var(--pColor2);
  text-transform: capitalize;
  margin: 30px 0px;
  font-family: var(--font2--);

}

.col-container {

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 70px;
  margin-top: 40px;
  padding: 0px 70px;

}

.col-team {

  width: 400px;
  height: 400px;
  position: relative;

}

.col-team img {

  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;

}

.team-details {

  background-color: var(--teamBack);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px 40px;
  margin-bottom: 30px;
  position: absolute;
  bottom: -90px;
  left: 13%;

}

.team-details h3 {

  font-size: 25px;

}

.team-details p {

  color: var(--teamdetails-p);
  text-transform: capitalize;
  margin: 25px 0px;

}

.socials {

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.socials .fa-brands {

  color: var(--textColor2);
  cursor: pointer;
  margin: 0px 20px;
  background-color: var(--teamIcons);
  border-radius: 50%;
  padding: 10px;

}

/* testimonials styles starts here*/

.testimonials {

  padding: 50px 90px;

}

.testimonial-container {

  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--font2--);

}

.testimonial {

  width: 90%;
  max-width: 800px;
  margin: auto;

}

.testimonials-text {

  color: var(--textColor3);
  font-size: 20px;
  width: 100%;
  height: 350px;
  position: relative;
  box-shadow: 0px 25px 30px var(--testiShadow);

}

.testimonials-pic {

  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.user-text {

  width: 80%;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;

}

.user-text.active-text {

  color: var(--textColor3);
  display: block;
  animation: moveup 0.5s linear forwards;

}

.user-text span {

  display: block;
  font-size: 17px;
  margin-top: 70px;
  font-weight: 500;

}

.user-pic {

  cursor: pointer;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;

}

.user-pic.active-pic {

  width: 130px;

}

@keyframes moveup {

  0% {
    margin-top: 25px;
  }

  100% {
    margin-top: 0px;
  }

}

/* footer-section styles starts here*/

.footer-section {

  width: 100%;
  height: 600px;
  background: var(--footerBck);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.footer-content {

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

}

.footer-content p {

  color: var(--textColor2);
  font-size: 20px;
  margin: 20px 0px;
  text-transform: capitalize;

}

.footer-content h2 {

  color: var(--textColor2);
  font-size: 2.5rem;

}

.footer-content button {

  color: var(--textColor2);
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--textColor2);
  border-radius: 10px;
  outline: 0;
  padding: 10px 30px;

}

.footer {

  width: 100%;
  background-color: var(--footerColor);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font2--);
  padding: 15px 80px;

}

.footer-content .fa-arrow-up {

  color: var(--textColor2);
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--textColor);
  border-radius: 50%;
  outline: none;
  text-transform: capitalize;
  padding: 20px;
  margin-top: 10rem;
  position: absolute;
  right: 40px;
  bottom: 10%;

}

.left-footer h4 {

  color: var(--textColor2);
  text-transform: capitalize;

}

.right-footer .fa-brands {

  color: var(--textColor2);
  cursor: pointer;
  margin: 0px 20px;
  font-size: 19px;

}

/*awaiting media-query for responsiveness*/