@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
}

.nav-container {
  background: rgba(58, 58, 58, 0.351);
  box-shadow: 0 4px 30px rgba(203, 200, 200, 0.1);
  backdrop-filter: blur(96px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.logo {
  color: white;
  text-transform: capitalize;
  font-size: 2rem;
}

.logo-container a {
  text-decoration: none;
}

.nav-container ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-container ul li {
  margin-right: 10px;
  list-style: none;
}
.nav-container ul li a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 19px;
  padding: 0px 10px;
  position: relative;
}
.nav-container ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  bottom: -12px;
  left: 30%;
  transition: 0.5s;
}
.nav-container ul li a:hover::before {
  width: 50%;
}

.header-img {
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  background: linear-gradient(rgba(24, 24, 24, 0.356), rgba(1, 1, 1, 0.462)),
  url("images/honda_fleet_resize.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 650px;
}
.header-img h3 {
  color: rgb(255, 255, 255);
  z-index: 1;
  font-size: 3rem;
  text-transform: uppercase;
  position: absolute;
  top: 30%;
  left: 10%;
}

.header-img span {
  width: 70px;
  height: 5px;
  background-color: red;
  position: absolute;
  top: 30%;
  left: 10%;
}


.body-content {
  padding: 50px 90px;
}

.content {
  display: flex;
  flex-direction: column;
}

.content h4 {
  margin-bottom: 25px;
  font-size: 25px;
  font-family: "Host Grotesk", sans-serif;
  font-weight: 900;
}
.body-content .header {
  color: black;
  font-weight: 800;
  margin-bottom: 20px;
  font-size: 45px;
  font-family: "Host Grotesk", sans-serif;
}
.content .italic {
  font-style: italic;
}
.content  h4 span {
  display: flex;
  flex-direction: column;
}

.content a {
  color: black;
  text-decoration: underline red;
}


.personal-details {
  padding: 10px 90px;
  display: flex;
  flex-direction: column;
  font-family: "Host Grotesk", sans-serif;
}

.personal-details h2 {
  margin-bottom: 50px;
  font-size: 35px;
}

.input-Conatiner {
  display: grid;
  grid-template-columns: repeat(3,auto);
  gap: 10px;
}

.select {
  width: 350px;
  padding: 20px;
}

.select #selectCon {
  width: 100%;
}


.inputbox {
  margin-bottom: 20px;
  width: 350px;
}

.inputbox h4 {
  margin-bottom: 15px;
  font-size: 20px;
  text-transform: capitalize;
}
.inputbox span {
  color: rgb(194, 187, 187);
}
.inputbox input {
  width: 100%;
  border: 2px solid rgb(194, 187, 187);
  outline: none;
  padding: 20px;
  margin-top: 8px;
}

.inputbox input::placeholder {
  color: rgb(194, 187, 187);
  font-size: 16px;
  text-transform: capitalize;
}

.inputbox textarea{
  text-transform: capitalize;
}

.inputbox textarea::placeholder {
  padding: 15px;
  text-transform: capitalize;
  font-size: 20px;
}

#select {
  display: flex;
  flex-direction: column;
}
#select .title {
  padding: 20px;
  margin-top: 8px;
}

#sec-section {
  display: flex;
  flex-direction: column;
}

.model {
  padding: 20px 0px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
}
.location {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.input-btn {
  width: 350px;
  height: 60px;
  margin: 123px 0px 100px -400px;
  padding: 20px;
  text-align: center;
  background-color: transparent;
  border: 2px solid red;
}

.input-btn button {
  color: red;
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: transparent;
  font-size: 18px;
  text-transform: capitalize;
}
.input-btn .fa-solid {
  color: red;
  font-size: 15px;
}

.form-4 {
  display: flex;
  flex-direction: column;
}


.checkInput {
  display: flex;
  margin-bottom: 20px;
}

.checkInput input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid gray ;
  background-color: transparent;
}
input[type="checkbox"]:checked {
  background-color: red;
  border: 2px solid red ;
}


.checkInput p {
  margin-left: 5px;
}
.checkInput p span {
  text-transform: capitalize;
  text-decoration: underline;
}


.inputbox-btn {
  width: 120px;
  margin: 30px 0px 0px -10px;
}
.inputbox-btn button {
  width: 100%;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgb(229, 12, 12);
  border: 0;
  outline: none;
  padding: 15px 30px;
  text-transform: capitalize;
  font-size: 17px;
}



.footer-section {
  padding: 60px 50px;
  background-color: rgb(31, 32, 35);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.footer-content {
  color: white;
  text-align: center;
}

.footer-content h2 {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer-content p {
  cursor: pointer;
  margin-bottom: 22px;
  text-transform: capitalize;
  position: relative;
}

.footer-content p::before{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: white;
  border-radius: 5px;
  bottom: -12px;
  left: 30%;
  transition: 0.5s;
}

.footer-content p:hover::before{
  width: 30%;
}

.footer-content i {
  display: block;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-content button {
  color: white;
  cursor: pointer;
  background-color: rgb(255, 54, 54);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.footer-section .copy {
  color: white;
  text-align: center;
  text-transform: capitalize;
  position: absolute;
  left: 35%;
  bottom: 0;
  margin-bottom: 10px;
}
