@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
 }

 :root {

  /* color container */

  --textColor: black;
  --textColor2: white;
  --bgColor: rgb(255, 255, 255);
  --navBgColor:  rgba(255, 255, 255, 0.45);
  --borderColor:  rgb(182, 180, 180);
  --boxSH:  0 4px 30px rgba(203, 200, 200, 0.1);
  --textButton:  rgb(9, 27, 61);
  --footerBtn:  rgb(255, 54, 54);
  --color1: red;
  --color2: blue;
  --shopIcon: rgb(48, 48, 48);
  --footerBg: rgb(31, 32, 35);
  --font1--: Georgia, "Times New Roman", Times, serif;
  --font2--: "Montserrat", sans-serif;
  
 }


.container {
  background-color: var(--bgColor);
  width: 100%;
  height: 100vh;
}

.nav-container {
  background: var(--navBgColor);
  box-shadow: var(--boxSH);
  backdrop-filter: blur(96px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.logo {
  color: var(--textColor);
  text-transform: capitalize;
  font-size: 2rem;
}

.nav-container ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-container ul li {
  margin-right: 10px;
  list-style: none;
}

.nav-container ul li a {
  color: var(--textColor);
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 19px;
  padding: 0px 10px;
  position: relative;
}

.nav-container ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 5px;
  background-color: var(--textColor);
  border-radius: 5px;
  bottom: -12px;
  left: 30%;
  transition: 0.5s;
}

.nav-container ul li a:hover::before {
  width: 50%;
}

/*body style starts here*/

.body-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-family: var(--font2--);
}

.text-content {
  position: absolute;
  top: 0;
  left: 50px;
  transform: translate(0px, 290px);
}

.text-content h2 {
  color: var(--textColor);
  text-transform: capitalize;
  margin-bottom: 30px;
  font-size: 3.5rem;
}

.text-content p {
  color: var(--textColor);
  font-size: 23px;
  margin-bottom: 25px;
}

.text-content button {
  border: 0;
  border-radius: 5px;
  background-color: var( --textButton);
  color: var(--textColor2);
  cursor: pointer;
  outline: 0;
  padding: 15px;
  font-weight: 450;
  font-size: 17px;
  text-transform: capitalize;
}

.text-content button a {
  color: var(--textColor2);
  text-decoration: none;
}

.content-img {
  position: absolute;
  top: 0;
  right: 140px;
  transform: translate(0px, 150px);
  width: 650px;
  height: 400px;
}

.content-img img {
  width: 100%;
  background: transparent;
  object-fit: cover;
}

.color-con {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-con .color-1 {
  background: var(--color1);
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.color-con .color-2 {
  background: var(--textColor);
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.color-con .color-3 {
  background: var(--color2) ;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

/*model section style starts here*/

.model-section {
  padding: 60px 0px;
  font-family: var(--font1--)
}

.model-section h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 25px;
  margin-bottom: 50px;
}

.model-bikes {
  display: flex;
  overflow-x: scroll;
  padding: 60px 0px;
}

.model-bikes::-webkit-scrollbar{
  display: none;
}

.model {
  width: 500px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 20px;
  flex: none;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.img-Container{
  width: 600px;
  margin-bottom: 10rem;
}

.arrow-Container{
  text-align: right;
  padding: 0 50px;
}

.arrow-Container .fa-arrow-left , .fa-arrow-right {
  color: var(--textColor2);
  cursor: pointer;
  background-color: var(--textColor);
  border-radius: 50%;
  font-size: 20px;
  padding: 8px;
}

.model img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.model-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
  position: absolute;
  bottom: 0px;
  left: 50%;
}

.model-text h3 {
  margin-bottom: 20px;
  font-size: 23px;
}

.model-text button {
  border: 0;
  border-radius: 5px;
  background-color: var(--textButton);
  color: var(--textColor2);
  cursor: pointer;
  padding: 10px 25px;
  text-transform: capitalize;
  text-align: center;
  font-size: 19px;
}

.model-text button a {
  color: var(--textColor2);
  text-decoration: none;
}

/*shopping tools section style starts here */

.shopping-tool-section h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 25px;
  margin-bottom: 50px;
}

.shopping-tool-section {
  padding: 80px 40px;
}

.test-drive-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
  padding: 80px 40px;
}

.extra-content {
  width: 200px;
  height: 200px;
  border: 2px solid var(--borderColor);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.extra-content .fa-solid {
  color: var(--shopIcon);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 6rem;
  margin-bottom: 20px;
}

.extra-content a {
  border: 0;
  background-color: transparent;
  color: transparent;
  outline: none;
}

.extra-content h3 {
  text-transform: capitalize;
}

/* footer style stars here */

.footer-section {
  padding: 60px 50px;
  background-color: var(--footerBg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.footer-content {
  color: var(--textColor2);
  text-align: center;
}

.footer-content h2 {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer-content p {
  cursor: pointer;
  margin-bottom: 22px;
  text-transform: capitalize;
  position: relative;
}

.footer-content p::before{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--textColor2);
  border-radius: 5px;
  bottom: -12px;
  left: 30%;
  transition: 0.5s;
}

.footer-content p:hover::before{
  width: 30%;
}

.footer-content i {
  display: block;
  align-items: center;
  justify-content: center;
  color: var(--textColor2);
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-content button {
  color: var(--textColor2);
  cursor: pointer;
  background-color: var(--footerBtn);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  font-family: var(--font1--);
}

.footer-section .copy {
  color: var(--textColor2);
  text-align: center;
  text-transform: capitalize;
  position: absolute;
  left: 35%;
  bottom: 0;
  margin-bottom: 10px;
}

/* awaiting media query for responsivness */