@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

:root {
  /* color container */
  
  --primaryColor: deeppink;
  --secondaryColor: rgb(22, 21, 21);
  --textColor: white;
  --textFillColor :  #e7dfd6;
  --fillColor: rgb(255, 255, 255);
  --secondaryTextColor: black;
  --footerbgColor: rgba(42, 41, 41, 0.968);
  --inputColor: #f0f0f1;
  --inputColBg:  #86868b;
  --Hcolor:  rgba(14, 30, 174, 1);
  --h2BgColor: linear-gradient(0deg, #86868b 0%, #bdc2c9 100%);
  --h2Color:  #6e0542;
  --pColor:  #86868b;
  --pBgColor: linear-gradient(0deg, #86868b 0%, #bdc2c9 100%);
  --btnsBdr: 1px solid lightslategray;
  --projectbg: linear-gradient(rgba(0, 0, 0, 0.6), #9c0857);
  --projectHbg: linear-gradient(rgba(0, 0, 0, 0.714), #151c9f);
  --bsh1-: 0 0 0 0 rgba(255, 255, 255, 0.7);
  --bsh2-: 0 0 0 16px rgba(255, 255, 255, 0);
  --bsh3-:  0 0 0 0 rgba(255, 255, 255, 0);
  --font--: Arial, Helvetica, sans-serif;
  --font2: "Playfair Display", serif;
}

/* Header styles starts here */

body {
  overflow-y: scroll;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--secondaryColor);
  overflow: hidden;
}

#icon.active {
  color: var(--textColor);
  border: 2px solid var(--textColor);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 40px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.nav-container ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-container ul li {
  margin-right: 20px;
  list-style: none;
}

.nav-container ul li a {
  color: var(--textColor);
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  z-index: 1000;
}

.nav-container ul li .link::before {
  content: "";
  background-color: var(--textColor);
  border-radius: 3px;
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: -12px;
  left: 30%;
  transition: 0.5s;
}

.nav-container ul li a:hover::before {
  width: 50%;
}

.logo-conatainer h2 {
  font-size: 1.8rem;
  color: var(--textColor);
  text-transform: capitalize;
}

.logo-conatainer h2 span {
  color: var(--primaryColor);
}

.toggleContainer {
  background-color: var(--textColor);
  border-radius: 50%;
  cursor: pointer;
  padding: 15px;
  z-index: 1000;
}
.toggleContainer.active {
  background-color: var(--textColor);
}

.toggleContainer .fa-solid {
  color: var(--primaryColor);
  font-size: 25px;
}
.toggleContainer .fa-solid.activeIcon {
  color: var(--secondaryTextColor);
  font-size: 25px;
}

#checkbox {
  display: none;
}

.switch {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primaryColor);
  box-shadow: 0px 0px 3px var(--primaryColor) inset;
}

.switch svg {
  width: 1.2em;
}
.switch svg path {
  fill: var(--primaryColor);
}
#checkbox:checked + .switch {
  box-shadow: 0px 0px 1px var(--primaryColor) inset,
    0px 0px 2px var(--primaryColor) inset,
    0px 0px 10px var(--primaryColor) inset, 0px 0px 40px var(--primaryColor),
    0px 0px 100px var(--primaryColor), 0px 0px 5px var(--primaryColor);
  border: 2px solid var(--textColor);
  background-color: var(--primaryColor);
}
#checkbox:checked + .switch svg {
  filter: drop-shadow(0px 0px 5px var(--primaryColor));
}
#checkbox:checked + .switch svg path {
  fill: var(--fillColor);
}

.header-content-container {
  display: flex;
  overflow: hidden;
}

.left-circle-container {
  width: 50%;
  height: 100%;
  background-color: var(--primaryColor);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  top: 30%;
  right: 0px;
  transform: translate(0, -30%);
}

.left-circle-container.active-left-circle {
  display: none;
}

.header-content {
  position: relative;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  margin-top: 40px;
  text-align: center;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-text p {
  position: absolute;
  bottom: 10%;
  left: 60px;
  text-transform: capitalize;
  font-size: 1.9em;
  font-family: var(--font--);
  color: var(--pColor);
  font-weight: 600;
  background: var(--pBgColor);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-content h2 {
  text-transform: capitalize;
  font-size: 1.9em;
  font-family: var(--font--);
  color:var(--h2Color);
  font-weight: 600;
  background: var(--h2BgColor);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-content .name {
  color: var(--primaryColor);
  text-align: center;
  text-transform: capitalize;
  font-size: 2.5rem;
  -webkit-text-fill-color: var(--textFillColor);
  font-weight: 1000;
  margin-bottom: 20px;
}

.header-content p {
  color: var(--textColor);
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.socials button {
  background-color: transparent;
  border: 1px solid var(--primaryColor);
  border-radius: 20px;
  color: var(--textColor);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  padding: 8px 15px;
  margin-right: 15px;
}

.socials button .fa-download {
  color: var(--primaryColor);
}

.socials .fa-brands {
  color: var(--primaryColor);
  cursor: pointer;
  border: 1px solid var(--primaryColor);
  background-color: transparent;
  border-radius: 50%;
  padding: 8px;
  font-size: 20px;
  margin: 0 10px;
}

/* about section  styles starts here*/

.about-section {
  background-color: var(--secondaryColor);
  padding: 70px 60px;
  position: sticky;
  top: 0;
}

.about-text {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.left h2 {
  color: var(--primaryColor);
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 750;
  margin-bottom: 25px;
}

.left p {
  color: var(--textColor);
  font-size: 18px;
}

.right {
  width: 50%;
}

.right img {
  width: 100%;
}

.tab-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}

.tab-container > .tabs {
  color: var(--textColor);
  margin-right: 90px;
  text-transform: capitalize;
  font-size: 19px;
  position: relative;
  cursor: pointer;
}

.tab-container > p::before {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  left: 30%;
  bottom: -12px;
  background-color: var(--textColor);
  border-radius: 5px;
  transition: 0.5s;
}

.tab-container > p.active-tab::before {
  width: 50%;
}

.tab-container > p.active-light::before {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  left: 30%;
  bottom: -12px;
  background-color: var(--textColor);
  border-radius: 5px;
  transition: 0.5s;
}

.tab-container > p.active-light::before {
  width: 50%;
}

.tabs-content ul li {
  color: var(--textColor);
  margin-bottom: 10px;
  list-style: none;
}

.tabs-content {
  display: none;
}

.tabs-content.active-tab-content {
  display: block;
}

.headerSection {
  color: var(--primaryColor);
}

.headerSection.active {
  color: var(--textColor);
}

/* projects section styles starts here */

.projects-section {
  background-color: var(--secondaryColor);
  padding: 70px 50px;
  overflow: hidden;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.projects-container h2 {
  color: var(--primaryColor);
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
}

.projects-container .btns {
  margin-top: 20px;
  margin-bottom: 30px;
}

.projects1 {
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--secondaryColor);
  position: relative;
  overflow: hidden;
}

.projects1 img {
  width: 100%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
}

.project-content {
  color: var(--textColor);
  background: var(--projectbg);
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 0%;
  z-index: 1;
  text-align: center;
  transition: 0.5s;
}

.projects1:hover > .project-content {
  height: 100%;
}

.projects1.active-project:hover > .project-content {
  background: var(--projectHbg);
}

.project-content h3 {
  font-size: 23px;
  margin-top: 60px;
  margin-bottom: 15px;
}

.project-content a {
  color: var(--primaryColor);
  font-size: 18px;
  margin-top: 20px;
  text-transform: capitalize;
}

.project-content a .fa-up-right-from-square {
  color: var(--primaryColor);
  font-size: 18px;
  margin-top: 20px;
  margin-left: 5px;
}
.project-content a .fa-up-right-from-square.activeLinkIcon {
  color: var(--textColor);
}

.projectText.active-Link {
  color: var(--textColor);
}

/* contact section styles starts here */

.contacts {
  background-color: var(--secondaryColor);
  padding: 70px 50px;
  z-index: -1000;
}

.form-container {
  display: flex;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.btns {
  color: var(--textColor);
  cursor: pointer;
  border: var(--btnsBdr);
  background-color: transparent;
  border-radius: 10px;
  float: left;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  text-transform: capitalize;
  width: 150px;
  padding: 10px;
  transition: 0.5s;
}

.btns:hover {
  background-color: var(--primaryColor);
}

.btns.active-btn:hover {
  color: var(--secondaryTextColor);
  background-color: var(--textColor);
}

.input-col {
  background-color: var(--inputColBg);
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  width: 500px;
}

.inputIcon {
  color: var(--textColor);
  padding: 20px;
  font-size: 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: 0.5s;
}

.input-col:hover > .inputIcon {
  color: var(--primaryColor);
}

.input-col.active-inputIcon:hover > .inputIcon {
  color: var(--Hcolor);
}

.input-col input {
  background-color: transparent;
  border: none;
  border-radius: 15px;
  color: var(--textColor);
  text-transform: capitalize;
  outline: none;
  width: 100%;
  padding: 15px 5px;
  font-size: 15px;
}

.input-col input::placeholder {
  color: var(--inputColor);
  font-size: 14px;
  text-transform: capitalize;
  padding: 8px;
}

.input-col textarea {
  color: var(--textColor);
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 200px;
  position: relative;
  padding: 5px 5px;
  font-size: 18px;
  text-transform: capitalize;
}

.input-col textarea::placeholder {
  color: var(--inputColor);
  font-size: 19px;
  text-transform: capitalize;
  position: absolute;
  top: 10px;
  left: 10px;
}

.left-contacts {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left-contacts h2 {
  color: var(--primaryColor);
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 30px;
}

.left-contacts-details {
  display: flex;
  flex-direction: column;
}

.left-contacts-details p .fa-solid {
  color: var(--textColor);
  margin: 15px 15px 10px 0px;
}

.left-contacts-details p {
  color: var(--textColor);
}

.left-contacts-details > .socials-left-details {
  display: flex;
}

.left-contacts-details > .socials-left-details .fa-brands {
  font-size: 25px;
  color: var(--primaryColor);
  cursor: pointer;
  margin: 20px 0px 15px 15px;
}

.left-contacts-details button {
  background-color: transparent;
  border: 1px solid var(--primaryColor);
  border-radius: 20px;
  color: var(--textColor);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  padding: 10px 15px;
  margin-top: 15px;
}

.left-contacts button .fa-download {
  color: var(--primaryColor);
}

.socials-left-details .fa-brands {
  color: var(--textColor);
  cursor: pointer;
  border: 1px solid var(--primaryColor);
  background-color: transparent;
  border-radius: 50%;
  padding: 8px;
  font-size: 20px;
  margin: 0 10px;
}

.contacts-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* download button styles  */

.label {
  background-color: transparent;
  border: 2px solid var(--primaryColor);
  display: flex;
  align-items: center;
  border-radius: 50px;
  width: 200px;
  cursor: pointer;
  transition: all 0.4s ease;
  padding: 5px;
  position: relative;
}
.label.active-label {
  border: 2px solid var(--textColor);
}

.label::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--textColor);
  width: 8px;
  height: 8px;
  transition: all 0.4s ease;
  border-radius: 100%;
  margin: auto;
  opacity: 0;
  visibility: hidden;
}

.label .input {
  display: none;
}

.label .title {
  font-size: 17px;
  color: var(--textColor);
  transition: all 0.4s ease;
  position: absolute;
  right: 28px;
  bottom: 14px;
  text-align: center;
}

.label .title:last-child {
  opacity: 0;
  visibility: hidden;
}

.label .circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  position: relative;
  box-shadow: 0 0 0 0 var(--fillColor);
  overflow: hidden;
}

.label .circle.active-cricle {
  background-color: var(--textColor);
}

.label .circle .iconSvg {
  color: var(--textColor);
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

.label .circle .iconSvg.activesvg {
  color: var(--secondaryTextColor);
}

.label .circle .square {
  aspect-ratio: 1;
  width: 15px;
  border-radius: 2px;
  background-color: var(--textColor);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

.label .circle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--primaryColor);
  width: 100%;
  height: 0;
  transition: all 0.4s ease;
}

.label:has(.input:checked) {
  width: 57px;
  animation: installed 0.4s ease 3.5s forwards;
}

.label:has(.input:checked)::before {
  animation: rotate 3s ease-in-out 0.4s forwards;
}

.label .input:checked + .circle {
  animation: pulse 1s forwards, circleDelete 0.2s ease 3.5s forwards;
  rotate: 180deg;
}

.label .input:checked + .circle::before {
  animation: installing 3s ease-in-out forwards;
}

.label .input:checked + .circle .icon {
  opacity: 0;
  visibility: hidden;
}

.label .input:checked ~ .circle .square {
  opacity: 1;
  visibility: visible;
}

.label .input:checked ~ .title {
  opacity: 0;
  visibility: hidden;
}

.label .input:checked ~ .title:last-child {
  animation: showInstalledMessage 0.4s ease 3.5s forwards;
}

@keyframes pulse {
  0% {
    scale: 0.95;
    box-shadow: var(--bsh1-);
  }
  70% {
    scale: 1;
    box-shadow: var(--bsh2-);
  }
  100% {
    scale: 0.95;
    box-shadow: var(--bsh3-);
  }
}

@keyframes installing {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-90deg) translate(27px) rotate(0);
    opacity: 1;
    visibility: visible;
  }
  99% {
    transform: rotate(270deg) translate(27px) rotate(270deg);
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes installed {
  100% {
    width: 150px;
    border-color: var(--primaryColor);
  }
}

@keyframes circleDelete {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes showInstalledMessage {
  100% {
    opacity: 1;
    visibility: visible;
    right: 56px;
  }
}

/* footer styles starts here */
footer {
  width: 100%;
  padding: 20px 0px;
  background-color: var(--footerbgColor);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font2);
  padding: 0px 50px;
}

.left-footer h4 {
  color: var(--textColor);
  text-transform: capitalize;
}

.right-footer .fa-brands {
  color: var(--textColor);
  cursor: pointer;
  margin: 0px 20px;
  font-size: 19px;
}

footer .footer p {
  color: var(--textColor);
  text-transform: capitalize;
  font-size: 18px;
}

/* footer end here */
