@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}


:root {

  /* color container */

  --textColor: black;
  --textColor2: white;
  --bgColor: rgb(255, 255, 255);
  --navBgColor: rgba(45, 44, 44, 0.308);
  --borderColor: rgb(182, 180, 180);
  --boxSH: -20px 90px -10px 90px rgba(107, 107, 107, 0);
  --textButton: rgb(9, 27, 61);
  --iconBg: rgb(9, 47, 109);
  --footerBtn: rgb(255, 54, 54);
  --colorDiv: rgb(198, 1, 1);
  --colorDiv4: rgb(184, 184, 184);
  --colorDiv3: rgb(204, 204, 204);
  --footerSecBg: rgb(31, 32, 35);
  --color1: red;
  --span: rgb(194, 187, 187);
  --selectionBg: rgb(200, 200, 200);
  --spanBdr: 2px solid rgb(194, 187, 187);
  --color2: blue;
  --shopIcon: rgb(48, 48, 48);
  --footerBg: rgb(31, 32, 35);
  --imgConBg: rgb(119, 118, 118);
  --inputColor: rgb(195, 195, 195) --inputBtn: rgb(229, 12, 12);
  --inputBdr: 2px solid rgb(194, 187, 187);
  --inputbdr2: 2px solid gray;
  --font1--: Georgia, "Times New Roman", Times, serif;
  --font2--: "Host Grotesk", sans-serif;
  --backGround: linear-gradient(rgba(10, 10, 10, 0.758), rgba(28, 27, 27, 0.462)),
    url("images/Honda_test_Drive.jpg");

}

.nav-container {
  background: var(--navBgColor);
  box-shadow: var(--boxSH);
  backdrop-filter: blur(10px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.logo {
  color: var(--textColor2);
  text-transform: capitalize;
  font-size: 2rem;
}

.logo-container a {
  text-decoration: none;
}

.nav-container ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-container ul li {
  margin-right: 10px;
  list-style: none;
}

.nav-container ul li a {
  color: var(--textColor2);
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 19px;
  padding: 0px 10px;
  position: relative;
}

.nav-container ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: var(--textColor2);
  border-radius: 5px;
  bottom: -12px;
  left: 30%;
  transition: 0.5s;
}

.nav-container ul li a:hover::before {
  width: 50%;
}

/* header content style starts here */
.imgCon {
  width: 100%;
  height: 480px;
  background: var(--backGround);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.imgCon h3 {
  color: var(--textColor2);
  z-index: 1;
  font-size: 3rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 10%;
}

.imgCon span {
  width: 70px;
  height: 5px;
  background-color: var(--color1);
  position: absolute;
  top: 40%;
  left: 10%;
}

/* body content style starts here */
.body-content {
  padding: 30px 90px;
  font-family: var(--font2--);
}

.body-content h3 {
  font-size: 35px;
  margin-bottom: 20px;
  color: var(--textColor);
}

.body-content h4 {
  font-size: 18px;
}


.shop-container {
  padding: 0px 70px;
}


.shop-content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1.5rem;
  flex: none;
}

.product-box {
  width: 430px;
  position: relative;
}

.product-box img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-title {
  color: var(--colorDiv4);
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.product-box:hover>.box-content>.product-title {
  color: var(--color1);
}

.product-box .checkBox[type="checkbox"] {
  accent-color: var(--color1);
  margin-left: 20px;
  margin-top: -10px;
  width: 20px;
  height: 30px;
  display: none;
}

.box-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selection {
  cursor: pointer;
  width: 210px;
  padding: 20px 0px;
  background-color: var(--selectionBg);
  position: fixed;
  bottom: 0%;
  right: 10%;
  margin-bottom: 20px;
  z-index: 1;
}

.selection h3 {
  color: var(--textColor2);
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}


/* footer style starts here */
.footer-section {
  padding: 60px 50px;
  background-color: var(--footerSecBg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.footer-content {
  color: var(--textColor2);
  text-align: center;
}

.footer-content h2 {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer-content p {
  cursor: pointer;
  margin-bottom: 22px;
  text-transform: capitalize;
  position: relative;
}

.footer-content p::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--textColor2);
  border-radius: 5px;
  bottom: -12px;
  left: 30%;
  transition: 0.5s;
}

.footer-content p:hover::before {
  width: 30%;
}

.footer-content i {
  display: block;
  align-items: center;
  justify-content: center;
  color: var(--textColor2);
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-content button {
  color: var(--textColor2);
  cursor: pointer;
  background-color: var(--footerBtn);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  font-family: var(--font1--);
}

.footer-section .copy {
  color: var(--textColor2);
  text-align: center;
  text-transform: capitalize;
  position: absolute;
  left: 35%;
  bottom: 0;
  margin-bottom: 10px;
}


/*awaiting media-query for responsiveness*/