* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root{
  /* color container */
  --textColor: salmon;
  --textColor2: white;
  --spanColor: rgb(194, 187, 187);
  --borderColor: gray;
  --footerColor: rgba(14, 33, 48, 0.805);
  --backGround: linear-gradient(rgba(0, 0, 0, 0.8), rgba(20, 24, 29, 0.47)), url("/Matshinini-Front-end-developer/images/appointment.jpg");
}
.container {
  width: 100%;
  height: 700px;
  background:var(--backGround);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.logo  a{
  color: var(--textColor2);
  font-size: 30px;
  text-decoration: none;
}

.logo span {
  color: var(--textColor);
}

.logo-container .logo-line {
  background-color: var(--textColor);
  border-radius: 5px;
  width: 150px;
  height: 3px;
  text-align: center;
  margin: 15px 0px;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10rem;
}

.header-text h2 {
  color: var(--textColor2);
  font-size: 4.5rem;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.header-text h2 span {
  color: var(--textColor);
  border-radius: 5px;
  width: 150px;
  height: 3px;
  text-align: center;
  margin: 15px 0px;
}

.header-text p {
  color: var(--textColor2);
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.header-text .fa-arrow-down {
  color: var(--textColor2);
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--textColor);
  border-radius: 50%;
  outline: none;
  text-transform: capitalize;
  padding: 20px;
  margin-top: 10rem;
  animation: motion 1.5s infinite;
  position: relative;
}

@keyframes motion {
  0% {
      transform: translateY(-50%);
  }

  100% {
      transform: translateY(0%);
  }
}


.appointment-input {
  padding: 40px 120px;
}

.header-text h2 {
  color: var(--textColor2);
  font-size: 4.5rem;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.header-text p {
  font-size: 20px;
  margin-top: 10px;
}
.appointment-header-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

.appointment-header-text h2 {
  color: var(--textColor);
  font-size: 2.5rem;
}

.appointment-header-text span {
  background-color: var(--textColor);
  border-radius: 5px;
  width: 90px;
  height: 4px;
  margin: 15px 0px;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-gap: 70px;
} 

#select {
  display: flex;
  flex-direction: column;
}

#select .title {
  padding: 20px;
  margin-top: 8px;
}

.inputbox {
  margin-bottom: 20px;
  width: 350px;
}

.inputbox h4 {
  margin-bottom: 15px;
  font-size: 20px;
  text-transform: capitalize;
}

.inputbox span {
  color: var(--spanColor);
}

.inputbox input {
  width: 100%;
  border: 2px solid var(--borderColor);
  outline: none;
  padding: 20px;
  margin-top: 8px;
}

.inputbox input::placeholder {
  color: var(--spanColor);
  font-size: 16px;
  text-transform: capitalize;
}

.checkInput p {
  margin-left: 5px;
}

.checkInput p span {
  text-transform: capitalize;
  text-decoration: underline;
}

.inputbox-btn {
  width: 220px;
  margin: 30px 0px 0px -10px;
}

.inputbox-btn button {
  width: 100%;
  color: var(--textColor);
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--textColor);
  border-radius: 20px;
  outline: none;
  padding: 15px 30px;
  margin: 50px 0px;
  text-transform: capitalize;
  font-size: 17px;
}


/* footer section style*/

.footer-section {
  position: relative;
}

.footer {
  width: 100%;
  background-color: var(--footerColor);

  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Playfair Display", serif;
  padding: 15px 80px;
}

.footer-content .fa-arrow-up {
  color: var(--textColor2);
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--textColor);
  border-radius: 50%;
  outline: none;
  text-transform: capitalize;
  padding: 20px;
  margin-top: 10rem;
  position: absolute;
  right: 40px;
  bottom: 10%;
}

.left-footer h4 {
  color: var(--textColor2);
  text-transform: capitalize;
}

.right-footer .fa-brands {
  color: var(--textColor2);
  cursor: pointer;
  margin: 0px 20px;
  font-size: 19px;
}


/*awaiting media-query for responsiveness*/