@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin-bottom: 1.5rem;
    text-align: center;
    background: linear-gradient(135deg, #cad6ef 42%, #bebdc6 42%, #b7b4cd 66%, #1dd1a1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 72px;
    font-weight: 700;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
    position: relative;
}

.title::after {
    content: "";
    width: 90%;
    height: 3px;
    background: white;
    border-radius: 2px;
    position: absolute;
    bottom: -5px;
    right: 11px;
}

.select-con {
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: linear-gradient(90deg, #ECE9E6, #FFFFFF);
    cursor: pointer;
    color: black;
    font-size: 17px;
    font-family: EB Garamond;
    font-weight: 500;
    margin-top: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 30px;
    gap: 6rem;
}

.text,
.translator {
    width: 600px;
    height: 350px;
    background: white;
    border-radius: 10px;
    border: 1.5px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    overflow: hidden;
}

.text-area {
    width: 100%;
    height: 100%;
    overflow: hidden;
    resize: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 19px;
    font-weight: 500;
    font-family: EB Garamond;
}

.btn {
    padding-top: 40px;
    margin-top: 30px;
}

.btn button {
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 11px;
    padding: 15px 20px;
    font-size: 19px;
    font-family: EB Garamond;
}

.btn button.btn-d {
    color: rgb(189, 192, 194);
    background: gray;
}