@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
 }


 
 :root {

  /* color container */

  --textColor: black;
  --textColor2: white;
  --bgColor: rgb(255, 255, 255);
  --navBgColor:  rgba(45, 44, 44, 0.308);;
  --borderColor:  rgb(182, 180, 180);
  --boxSH: -20px 90px -10px 90px rgba(19, 19, 19, 1);
  --textButton:  rgb(9, 27, 61);
  --iconBg:  rgb(9, 47, 109);
  --footerBtn:  rgb(255, 54, 54);
  --colorDiv: rgb(198, 1, 1);
  --colorDiv4:  rgb(234, 230, 230);
  --colorDiv3:  rgb(204, 204, 204);
  --footerSecBg: rgb(31, 32, 35);
  --color1: red;
  --color2: blue;
  --shopIcon: rgb(48, 48, 48);
  --footerBg: rgb(31, 32, 35);
  --imgConBg:  rgb(119, 118, 118);
  --font1--: Georgia, "Times New Roman", Times, serif;
  --font2--: "Montserrat", sans-serif;
  --backGround: linear-gradient(to right,rgba(20, 20, 20, 0.897), rgba(255, 255, 255, 0)),
  url("images/atv.jpg");
  --imgContainer: linear-gradient(rgba(0, 0, 0, 0.59), rgba(27, 25, 25, 0.208)),url(images/perform-atv.jpg);

 }


 /* header styles starts here */

.nav-container {
    background: var(--navBgColor);;
    box-shadow:  var(--boxSH);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  .logo {
    color: var(--textColor2);
    text-transform: capitalize;
    font-size: 2rem;
  }

  .logo-container a {
    text-decoration: none;
  }
  
  .nav-container ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .nav-container ul li {
    margin-right: 10px;
    list-style: none;
  }
  .nav-container ul li a {
    color: var(--textColor2);
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 19px;
    padding: 0px 10px;
    position: relative;
  }
  .nav-container ul li a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--textColor2);
    border-radius: 5px;
    bottom: -12px;
    left: 30%;
    transition: 0.5s;
  }
  .nav-container ul li a:hover::before {
    width: 50%;
  }

  
.header-img {
    width: 100%;
    height: 700px;
    background: var(--backGround);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .header-img h3,
  .line {
    position: absolute;
    top: 20%;
    left: 100px;
  }
  
  .header-img h3 {
    color: var(--textColor2);
    z-index: 1;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-top: 20px;
  }
  
  .header-img .line{
    width: 70px;
    height: 5px;
    background-color: var(--color1);
    position: absolute;
    top: 20%;
    left: 100px;
  }

  .header-img .price {
    color: var(--textColor2);
    font-size: 1.3rem;
    position: absolute;
    top: 46%;
    left: 100px;
  }

  .header-btn {
    position: absolute;
    top: 60%;
    left: 100px;
  }

.header-btn {
    background-color: var(--color1);
    border: none;
    color: var(--textColor2);
    cursor: pointer;
    outline: none;
    font-size: 20px;
    text-transform: capitalize;
    width: 250px;
    padding: 15px 0px;
}

/* body style starts here */

.body-content h2 {
    text-transform: capitalize;
    text-align: center;
    font-size: 2.5rem;
    margin: 40px;
}

.model-text {
    padding: 50px 70px;
}

.model-text p  {
    text-align: center;
    font-size: 19px;
    margin-bottom: 10px;
}

.model-features  {
  padding: 20px 0;
}

.model-features h2 {
  margin-bottom: 30px;
}

.features-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgContainer{
  width: 85%;
  height: 600px;
  background: var(--imgContainer);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  position: relative;
}

.imgContainer > p{
  color: var(--textColor2);
  font-size: 2.5rem;
  position: absolute;
  top: 90px;
  left: 90px;
}

.imgContainer > span{
  color: var(--textColor2);
  font-size: 19px;
  position: absolute;
  top: 140px;
  left: 95px;
}

.imgContainer > .Efficiency{
  display: none;
}

.imgContainer > .Exterior{
  display: none;
}


.imgContainer > .Efficiency1{
  display: none;
}

.imgContainer > .Exterior1{
  display: none;
}

.Exterior {
  display: none;
}

.Exterior1 {
  display: none;
}

.icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 180px;
  left: 95px;
  padding: 20px;
}

.icons .fa-solid {
  color: var(--textColor2);
  cursor: pointer;
  background-color: var(--iconBg);
  border-radius: 50px;
  padding: 15px;
  font-size: 19px;
  margin-top: 30px;
  text-align: center;
  transition: 0.9s;
}


.icons .fa-solid:hover {
  border: 1px solid var(--textColor2);
  transition: 0.9s;
}


.bike {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.color-container {
  display: flex;
}

.colorDiv {
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  margin: 20px 0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.colorDiv > .color1 {
  width: 40%;
  height: 80px;
  background-color:  var(--colorDiv);
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorDiv > .color2 {
  width: 40%;
  height: 80px;
  background-color: var(--colorDiv);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorDiv > .color3 {
  width: 40%;
  height: 80px;
  background-color:var(--colorDiv3);
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorDiv > .color4 {
  width: 40%;
  height: 80px;
  background-color: var(--colorDiv4);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bike > p {
  font-size: 18px;
}

.model-pricing {
  padding: 50px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-con {
  background-color: var(--imgConBg);
  width: 400px;
  height: 350px;
  position: relative;
}

.img-con img {
  width: 100%;
  z-index: 1;
}

.img-con > p{
  color: var(--textColor2);
  font-size: 21px;
  position: absolute;
  bottom: 50px;
  left: 30px;
  width: 100%;

}


.img-con > span{
  color: var(--textColor2);
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 30px;
}


.footer-section {
  padding: 60px 50px;
  background-color: var( --footerSecBg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.footer-content {
  color: var(--textColor2);
  text-align: center;
}

.footer-content h2 {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer-content p {
  cursor: pointer;
  margin-bottom: 22px;
  text-transform: capitalize;
  position: relative;
}

.footer-content p::before{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--textColor2);
  border-radius: 5px;
  bottom: -12px;
  left: 30%;
  transition: 0.5s;
}

.footer-content p:hover::before{
  width: 30%;
}

.footer-content i {
  display: block;
  align-items: center;
  justify-content: center;
  color: var(--textColor2);
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-content button {
  color: var(--textColor2);
  cursor: pointer;
  background-color: var(--footerBtn);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.footer-section .copy {
  color: var(--textColor2);
  text-align: center;
  text-transform: capitalize;
  position: absolute;
  left: 35%;
  bottom: 0;
  margin-bottom: 10px;
}



/*awaiting media-query for responsiveness*/