@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
 }

 
 :root {

  /* color container */

  --textColor: black;
  --textColor2: white;
  --bgColor: rgb(255, 255, 255);
  --navBgColor:  rgba(45, 44, 44, 0.308);
  --borderColor:  rgb(182, 180, 180);
  --boxSH: -20px 90px -10px 90px rgba(107, 107, 107, 0);
  --textButton:  rgb(9, 27, 61);
  --iconBg:  rgb(9, 47, 109);
  --footerBtn:  rgb(255, 54, 54);
  --colorDiv: rgb(198, 1, 1);
  --colorDiv4:  rgb(234, 230, 230);
  --colorDiv3:  rgb(204, 204, 204);
  --footerSecBg: rgb(31, 32, 35);
  --color1: red;
  --span:  rgb(194, 187, 187);
  --spanBdr: 2px solid rgb(194, 187, 187);
  --color2: blue;
  --shopIcon: rgb(48, 48, 48);
  --footerBg: rgb(31, 32, 35);
  --imgConBg:  rgb(119, 118, 118);
  --inputColor: rgb(194, 187, 187);
  --inputBtn: rgb(229, 12, 12);
  --inputBdr: 2px solid rgb(194, 187, 187);
  --inputbdr2: 2px solid gray;
  --font1--: Georgia, "Times New Roman", Times, serif;
  --font2--: "Host Grotesk", sans-serif;
  --backGround:  linear-gradient(rgba(10, 10, 10, 0.758), rgba(28, 27, 27, 0.462)),
  url("/Matshinini-Front-end-developer/images/service.jpg");

 }


.nav-container {
  background:var(--navBgColor);
  box-shadow: var(--boxSH);
  backdrop-filter: blur(10px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.logo {
  color: var(--textColor2);
  text-transform: capitalize;
  font-size: 2rem;
}

.logo-container a {
  text-decoration: none;
}

.nav-container ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-container ul li {
  margin-right: 10px;
  list-style: none;
}

.nav-container ul li a {
  color: var(--textColor2);
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 19px;
  padding: 0px 10px;
  position: relative;
}

.nav-container ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: var(--textColor2);
  border-radius: 5px;
  bottom: -12px;
  left: 30%;
  transition: 0.5s;
}

.nav-container ul li a:hover::before {
  width: 50%;
}

.header-img {
  width: 100%;
  height: 500px;
  background:var(--backGround);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header-img h3,
.line {
  position: absolute;
  top: 40%;
  left: 10%;
}

.header-img h3 {
  color: var(--textColor2);
  z-index: 1;
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 20px;
}

.header-img span {
  width: 70px;
  height: 5px;
  background-color: var(--color1);
  position: absolute;
  top: 40%;
  left: 10%;
}

/* body content style starts here */
.form-container {
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
}

.form-container h2 {
  margin-bottom: 3rem;
}

.input-Container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  margin-bottom: 3rem;
}

#select {
  display: flex;
  flex-direction: column;
}
#select .title {
  padding: 20px;
  margin-top: 8px;
}

.inputbox {
  margin-bottom: 20px;
  width: 350px;
}

.inputbox h4 {
  margin-bottom: 15px;
  font-size: 20px;
  text-transform: capitalize;
}
.inputbox span {
  color: var(--span);
}
.inputbox input {
  width: 100%;
  border: var(--inputBdr);
  outline: none;
  padding: 20px;
  margin-top: 8px;
}

.inputbox input::placeholder {
  color: var(--span);
  font-size: 16px;
  text-transform: capitalize;
}

.form-4 {
  display: flex;
  flex-direction: column;
}

.input-btn {
  width: 350px;
  margin: 22px 0 22px -170px;
  padding: 20px;
  text-align: center;
  background-color: transparent;
  border: 2px solid var(--color1);
}

.input-btn button {
  color: var(--inputBtn);
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: transparent;
  font-size: 18px;
  text-transform: capitalize;
}
.input-btn .fa-solid {
  color: var(--color1);
  font-size: 15px;
}


.checkInput {
  display: flex;
  margin-bottom: 20px;
}

.checkInput input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-right: 9px;
  border: var(--inputbdr2);
  background-color: transparent;
}
input[type="checkbox"]:checked {
  background-color: var(--color1);
  border: 2px solid var(--color1) ;
}


.checkInput p {
  margin-left: 5px;
}
.checkInput p span {
  text-transform: capitalize;
  text-decoration: underline;
}


.inputbox-btn {
  width: 220px;
  margin: 30px 0px 0px -10px;
}
.inputbox-btn button {
  width: 100%;
  color: var(--bgColor);
  cursor: pointer;
  background-color: var(--inputBtn);
  border: 0;
  outline: none;
  padding: 15px 30px;
  text-transform: capitalize;
  font-size: 17px;
}


/* footer style starts here */
.footer-section {
  padding: 60px 50px;
  background-color: var(--footerSecBg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.footer-content {
  color: var(--textColor2);
  text-align: center;
}

.footer-content h2 {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.footer-content p {
  cursor: pointer;
  margin-bottom: 22px;
  text-transform: capitalize;
  position: relative;
}

.footer-content p::before{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--textColor2);
  border-radius: 5px;
  bottom: -12px;
  left: 30%;
  transition: 0.5s;
}

.footer-content p:hover::before{
  width: 30%;
}

.footer-content i {
  display: block;
  align-items: center;
  justify-content: center;
  color: var(--textColor2);
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-content button {
  color: var(--textColor2);
  cursor: pointer;
  background-color: var(--footerBtn);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  font-family: var(--font1--);
}

.footer-section .copy {
  color: var(--textColor2);
  text-align: center;
  text-transform: capitalize;
  position: absolute;
  left: 35%;
  bottom: 0;
  margin-bottom: 10px;
}


/*awaiting media-query for responsiveness*/



@media (min-width: 300px) {

}
@media (min-width: 412px) {

}

@media (min-width: 540px) {

  
}

@media (min-width: 768px) {

}

@media (min-width: 800px) {

}

@media (min-width: 1024px) {

}

@media (max-width: 1200px) {

}